<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Aikalaskuri - Kaikki kisat</title>
		<link rel="stylesheet" type="text/css" href="/kipamedia/kipa.css" />
		<link rel="stylesheet" type="text/css" href="/kipamedia/tabcontent.css" />
		<link rel="icon" type="image/x-icon" href="/kipamedia/favicon.ico" />
	</head>
	<body>
		<div id="wrap">
			<div id="main" class="clearfix">
				<div id="container">
					<h1>{{nimi}}</h1>
					<blockquote>
						{% if sarjat %}
							{% for sarja in sarjat %}
							<a href="{{ sarja.id }}">{{sarja.nimi}}</a>
							{% endfor %}
						{% else %}
							<p>Ei määriteltyjä kisoja.</p>
						{% endif %}
					</blockquote>
				</div>
			</div>
		</div>
	</body>
</html>
